<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4"
>
  <div class="flex flex-row gap-4">
    <mat-form-field class="flex-1">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        formControlName="name"
        required
        [errorStateMatcher]="matcher"
      />
      @if (productForm.get("name")?.hasError('required')) {
      <mat-error>Please enter the product name.</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="flex flex-row gap-4">
    <mat-form-field class="flex-1">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        id="description"
        name="description"
        formControlName="description"
        required
        [errorStateMatcher]="matcher"
      />
      @if (productForm.get("description")?.hasError('required')) {
      <mat-error>Please enter the product description.</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="flex flex-row gap-4">
    <mat-form-field class="flex-1">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        id="price"
        name="price"
        formControlName="price"
        required
        [errorStateMatcher]="matcher"
      />
      @if (productForm.get("price")?.hasError('required')) {
      <mat-error>Please enter the product price.</mat-error>
      } @if (productForm.get("price")?.hasError('min')) {
      <mat-error>Price must be .01 or greater.</mat-error>
      } @if (productForm.get("price")?.hasError("pattern")) {
      <mat-error
        >Price must be a positive number with up to two decimal
        places.</mat-error
      >
      }
    </mat-form-field>
  </div>
  <div class="flex flex-row gap-4">
    <mat-form-field class="flex-1">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        @for (status of productStatuses; track status) {
        <mat-option [value]="status">
          {{ status }}
        </mat-option>
        }
      </mat-select>
      @if (productForm.get("status")?.hasError('required')) {
      <mat-error>Please select the product status.</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="flex flex-row gap-4">
    <div>
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </div>
</form>
